// variables de couleur
$grey_memo: #6C757D;
$green_memo : #4CA745;
$white: #fff;
$yellow:#E0A815;

// Title
h1 {
    background-color: $grey_memo;
    color: $white;
}

//Font-awesome
.fa-user{
    color: $green_memo;
}

.fa-chevron-circle-left, .fa-chevron-circle-right {
    color: $white;
    /*vertical-align :top;*/
    /*padding : 1px;*/
}

// Button
nav .btn {
    margin: 2px;
    &:hover {
        background-color : $yellow;
        border: $yellow;
    }
}

main h2{
      visibility: hidden;
}

#scrolling-wrapper {
   display: flex;
   flex-wrap: nowrap;
}

article {
    background-color: $grey_memo;
    color: white;
    
}

@media screen and (max-width: 768px){
    #scrolling-wrapper {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    .card {
        flex-basis: 0;
        min-width: 90vw;
    }
}